<p>pipe-example works!</p>

<form>

<p>{{Name}}</p>
<p>{{Name | lowercase}}</p>
<p>{{Name | uppercase}}</p>
<p>{{Name |slice:4}}</p>
<p>{{Name |slice:4:10}}</p>
<h3>{{person | json}}</h3>
<p>{{date}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'shortTime'}}</p>
<p>{{date | date:'medium'}}</p>
<p>{{date | date:'mediumDate'}}</p>
<p>{{date | date:'mediumTime'}}</p>
<p>{{date | date:'long'}}</p>
<p>{{date | date:'longDate'}}</p>
<p>{{date | date:'longTime'}}</p>
<p>{{4.567 | number:'1.2-2'}}</p>
<p>{{.500|percent}}</p>
<p>{{1|currency:'INR'}}</p>

</form>

