<!-- <app-example></app-example> -->
<!-- <app-button-example></app-button-example> -->
<!-- <app-task></app-task> -->
<!-- <app-styles-example></app-styles-example> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-if-example></app-if-example> -->
<!-- <app-if-else-example></app-if-else-example> -->
<!-- <app-switch-example></app-switch-example> -->
<!-- <app-forloop-example></app-forloop-example> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-employee-data></app-employee-data> -->
<!-- <app-services-example></app-services-example> -->
<!-- <app-json></app-json> -->
<!-- <div style="text-align: center">
<h1>Routing and Navigation</h1>
</div>
<nav>
    <a routerLink='/department' routerLinkActive='active' class="right-space">department</a>|
    <a routerLink='/employee' routerLinkActive='active'>employee</a>
</nav>
<router-outlet></router-outlet> -->
<app-form-example></app-form-example>